repos:
  - repo: https://github.com/myint/autoflake
    rev: v2.3.3
    hooks:
      - id: autoflake
        args:
          - --expand-star-imports
          - --ignore-init-module-imports
          - --in-place
          - --remove-all-unused-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        additional_dependencies: [ "click==8.0" ]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args:
          - --keep-percent-format
  # - repo: https://github.com/timothycrosley/isort
  #   rev: 5.13.2
  #   hooks:
  #     - id: isort
  #       name: isort except __init__.py
  #       args: [ --settings, . ]
  #       exclude: /__init__\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
      - id: fix-encoding-pragma
        args: [ "--remove" ]
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: mixed-line-ending
        args: [ "--fix=lf" ]
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        # use a shell command to enter firstly the directory of the project and then run biome
        # biome is installed via npx so it's only available locally in the `frontend/incassi` folder
        entry: sh -c "cd frontend/incassi && npx @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"

#  - repo: https://github.com/pre-commit/mirrors-eslint
#    rev: v9.17.0  # Use the sha / tag you want to point at
#    hooks:
#      - id: eslint
#        args: [ --fix ]
#        additional_dependencies: [
#          # conflicts with typescript 5.3.2 (2023-11-27)
#          "typescript@5.1.6",
#          "eslint@8.54.0",
#          "@angular-eslint/eslint-plugin",
#          "@angular-eslint/eslint-plugin-template",
#          "@typescript-eslint/parser",
#          "@typescript-eslint/eslint-plugin",
#        ]
#        files: \.[jt]sx?$  # *.js, *.jsx, *.ts and *.tsx
#        types: [ file ]
