@import './assets/fontawesome/css/all.css';

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
