name: FastAPI Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  backend-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Docker Login and Docker Buildx
      uses: ./.github/actions/docker-login
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Setup env and symlink
      run: |
        mv .docker/pg_conf.env.example .docker/pg_conf.env && \
        mv .docker/auth_opt.env.example .docker/auth_opt.env && \
        sed -i "s|POSTGRES_CONNECTION_STR=\"[^\"]*\"|POSTGRES_CONNECTION_STR=\"${{ secrets.DB_CONNECTION_STR }}\"|" .docker/pg_conf.env && \
        sed -i "s|ALGORITHM=\"[^\"]*\"|ALGORITHM=\"${{ secrets.AUTH_ALGORITHM }}\"|" .docker/auth_opt.env && \
        sed -i "s|SECRET_KEY=\"[^\"]*\"|SECRET_KEY=\"${{ secrets.AUTH_SECRET }}\"|" .docker/auth_opt.env && \
        ln -s common.yaml docker-compose.yaml && \
        ln -s devel.yaml docker-compose.override.yaml

    - name: Check Alembic Migration
      run: |
        docker compose pull fastapi db && \
        docker compose up -d db && \
        docker compose run --rm --remove-orphans fastapi bash -c "mv alembic.ini.example alembic.ini && alembic upgrade head"

    - name: Test Backend
      run: |
        docker compose pull fastapi db && \
        docker compose up -d db && \
        docker compose run --rm --remove-orphans fastapi pytest .
