name: build-and-push

on:
  push:
    branches:
      - main

jobs:
  build-push:
    name: Push Docker images to Docker Hub
    runs-on: ubuntu-latest

    steps:
      - name: Docker Login and Docker Buildx
        uses: ./.github/actions/docker-login
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build and push Backend
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:backend"
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/incassi-backend:latest

      - name: Build and push Frontend
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:frontend/incassi"
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/incassi-frontend:latest

