name: Angular Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  frontend-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Docker Login and Docker Buildx
      uses: ./.github/actions/docker-login
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Setup symlink
      run: |
        mv .docker/pg_conf.env.example .docker/pg_conf.env
        mv .docker/auth_opt.env.example .docker/auth_opt.env
        ln -s common.yaml docker-compose.yaml
        ln -s devel.yaml docker-compose.override.yaml

    - name: Build Angular
      run: |
        docker compose pull web && \
        docker compose run --rm web npm run ng build

    - name: Test Angular
      run: |
        docker compose pull web && \
        docker compose run --rm web npm run ng test --no-watch --no-progress
